# Introduction to Python in Data Science

## Variable

In [4]:
student = "Sam"

In [5]:
student

'Sam'

In [6]:
student = "Matt"

In [7]:
student

'Matt'

## Data Types

In [8]:
a1 = 10
a1

10

In [9]:
type(a1)

int

In [10]:
a1 = 3.14
a1

3.14

In [11]:
type(a1)

float

In [12]:
a1 = True
a1

True

In [13]:
type(a1)

bool

In [14]:
a1 = "Hello World"
a1

'Hello World'

In [15]:
type(a1)

str

In [16]:
a1 = 3 + 4j
a1

(3+4j)

In [17]:
type(a1)

complex

## Operators

In [18]:
# Arithmetic Operators
# +,-,/,*

In [19]:
a = 10
b = 20

In [20]:
a, b

(10, 20)

In [21]:
a + b

30

In [22]:
a - b

-10

In [23]:
a * b

200

In [24]:
a / b

0.5

In [25]:
# Relational Operators
# <,>,==,/=

In [26]:
a = 50
b = 100

In [27]:
a > b

False

In [28]:
a < b

True

In [29]:
a == b

False

In [30]:
a != b

True

In [31]:
# Logical operators
# &, |

In [32]:
a = True
b = False

In [33]:
a & a

True

In [34]:
a & b

False

In [35]:
b & a

False

In [36]:
b & b

False

In [37]:
a | b

True

In [38]:
b | a

True

In [39]:
a | a

True

In [40]:
b | b

False

## Tokens

1. Keywords are special reserved words.
2. Identifiers are names used for variables, functions or objects.<br>
   Rules:

   1. No special character expect\_(underscore)
   2. Identifiers are case sensitive
   3. First letter cannot be a digit

3. Literals are constants in Python.
4. Strings are sequence of characters enclosed within single quotes(' '), double quotes(" ")or triple quotes(''' ''').
   <br>
   Ex-

   1. 'Hello World'
   2. "This is Sparta"
   3. '''I am going to France tomorrow'''<br>

   String Functions-

   1. Finding length of string
   2. Converting String to lower case
   3. Converting String to upper case
   4. Replacing a substring
   5. Number of occurrences of substring
   6. Finding the index of substring
   7. Splitting a String

In [41]:
True

True

In [42]:
student = "martha"

In [43]:
Student = "Julie"

In [44]:
student

'martha'

In [45]:
Student

'Julie'

In [ ]:
a = 3.14

In [46]:
str1 = 'This is my First string'
str1

'This is my First string'

In [47]:
str2 = "This is my Second String"
str2

'This is my Second String'

In [50]:
str3 = """
This String
has
lot of lines
in it
"""
str3

'\nThis String\nhas\nlot of lines\nin it\n'

In [51]:
my_string = 'THis is sparta'

In [52]:
my_string

'THis is sparta'

In [53]:
my_string[0]

'T'

In [54]:
my_string[-1]

'a'

In [55]:
my_string[5:11]

'is spa'

In [56]:
len(my_string)

14

In [57]:
my_string.lower()

'this is sparta'

In [58]:
my_string.upper()

'THIS IS SPARTA'

In [59]:
my_string.replace("is", "are")

'THare are sparta'

In [66]:
str_new = "sparta sparata 300 300 300 300 s"
str_new

'sparta sparata 300 300 300 300 s'

In [63]:
str_new.count("sparta")

1

In [67]:
str_new.count("300")

4

In [68]:
str_new.count("s")

3