# Introduction to Python in Data Science

## Variable

In [196]:
student = "Sam"

In [197]:
student

'Sam'

In [198]:
student = "Matt"

In [199]:
student

'Matt'

## Data Types

In [200]:
a1 = 10
a1

10

In [201]:
type(a1)

int

In [202]:
a1 = 3.14
a1

3.14

In [203]:
type(a1)

float

In [204]:
a1 = True
a1

True

In [205]:
type(a1)

bool

In [206]:
a1 = "Hello World"
a1

'Hello World'

In [207]:
type(a1)

str

In [208]:
a1 = 3 + 4j
a1

(3+4j)

In [209]:
type(a1)

complex

## Operators

In [210]:
# Arithmetic Operators
# +,-,/,*

In [211]:
a = 10
b = 20

In [212]:
a, b

(10, 20)

In [213]:
a + b

30

In [214]:
a - b

-10

In [215]:
a * b

200

In [216]:
a / b

0.5

In [217]:
# Relational Operators
# <,>,==,/=

In [218]:
a = 50
b = 100

In [219]:
a > b

False

In [220]:
a < b

True

In [221]:
a == b

False

In [222]:
a != b

True

In [223]:
# Logical operators
# &, |

In [224]:
a = True
b = False

In [225]:
a & a

True

In [226]:
a & b

False

In [227]:
b & a

False

In [228]:
b & b

False

In [229]:
a | b

True

In [230]:
b | a

True

In [231]:
a | a

True

In [232]:
b | b

False

## Tokens

1. Keywords are special reserved words.
2. Identifiers are names used for variables, functions or objects.<br>
   Rules:

   1. No special character expect\_(underscore)
   2. Identifiers are case sensitive
   3. First letter cannot be a digit

3. Literals are constants in Python.
4. Strings are sequence of characters enclosed within single quotes(' '), double quotes(" ")or triple quotes(''' ''').
   <br>
   Ex-

   1. 'Hello World'
   2. "This is Sparta"
   3. '''I am going to France tomorrow'''<br>

   String Functions-

   1. Finding length of string
   2. Converting String to lower case
   3. Converting String to upper case
   4. Replacing a substring
   5. Number of occurrences of substring
   6. Finding the index of substring
   7. Splitting a String

In [233]:
True

True

In [234]:
student = "martha"

In [235]:
Student = "Julie"

In [236]:
student

'martha'

In [237]:
Student

'Julie'

In [238]:
a = 3.14

In [239]:
str1 = 'This is my First string'
str1

'This is my First string'

In [240]:
str2 = "This is my Second String"
str2

'This is my Second String'

In [241]:
str3 = """
This String
has
lot of lines
in it
"""
str3

'\nThis String\nhas\nlot of lines\nin it\n'

In [242]:
my_string = 'THis is sparta'

In [243]:
my_string

'THis is sparta'

In [244]:
my_string[0]

'T'

In [245]:
my_string[-1]

'a'

In [246]:
my_string[5:11]

'is spa'

In [247]:
len(my_string)

14

In [248]:
my_string.lower()

'this is sparta'

In [249]:
my_string.upper()

'THIS IS SPARTA'

In [250]:
my_string.replace("is", "are")

'THare are sparta'

In [251]:
str_new = "sparta sparata 300 300 300 300 s"
str_new

'sparta sparata 300 300 300 300 s'

In [252]:
str_new.count("sparta")

1

In [253]:
str_new.count("300")

4

In [254]:
str_new.count("s")

3

In [255]:
s1 = "This is sparta!!!"
s1.find("sparta")

8

In [256]:
str_final = "President Obama is the best President of United States"
str_final

'President Obama is the best President of United States'

In [257]:
str_final.split("e")

['Pr',
 'sid',
 'nt Obama is th',
 ' b',
 'st Pr',
 'sid',
 'nt of Unit',
 'd Stat',
 's']

## Data Structures

1. Tupes:
   1. Tuple is an ordered collection of elements enclosed within()
   2. Immutable (Not change)
2. List:
   1. List is an ordered collection of elements enclosed within[]
   2. Mutable (chnage)
3. Dictionary:
   1. Dictionary is an unorderd collection if key - value pairs enclosed with {}
   2. Mutable

In [258]:
tup1 = (1, True, 3.14, 5 - 7j)

In [259]:
tup1

(1, True, 3.14, (5-7j))

In [260]:
type(tup1)

tuple

In [261]:
tup1[0]

1

In [262]:
tup1[-1]

(5-7j)

In [263]:
tup1[0:2]

(1, True)

In [264]:
tup1[2] = "This is sparta"

TypeError: 'tuple' object does not support item assignment

In [ ]:
len(tup1)

4

In [ ]:
tup2 = (
    1,
    True,
    0,
)

In [ ]:
tup1, tup2

((1, True, 3.14, (5-7j)), (1, True, 0))

In [ ]:
tup1 + tup2

(1, True, 3.14, (5-7j), 1, True, 0)

In [ ]:
tup1 * 2

(1, True, 3.14, (5-7j), 1, True, 3.14, (5-7j))

In [ ]:
l1 = [1, "Sparta", 3.14, True]

In [ ]:
l1

[1, 'Sparta', 3.14, True]

In [ ]:
l1[1]

'Sparta'

In [ ]:
l1[0:5]

[1, 'Sparta', 3.14, True]

In [ ]:
l1[-1]

True

In [ ]:
l1[0] = 100

In [ ]:
l1.append("Abhi")  # for adding elements

In [ ]:
l1

[100, 'Sparta', 3.14, True, 'Abhi']

In [ ]:
l1.pop()  # Remove and return item at index (default last).

'Abhi'

In [ ]:
l1

[100, 'Sparta', 3.14, True]

In [ ]:
l1.reverse()

In [ ]:
l1

[True, 3.14, 'Sparta', 100]

In [ ]:
l1.insert(1, "Adi")  # for insert element at specific index

In [ ]:
l1

[True, 'Adi', 3.14, 'Sparta', 100]

In [ ]:
l2 = ["apple", "banana", "mango"]

In [ ]:
l2

['apple', 'banana', 'mango']

In [ ]:
l2 * 5 + l1

['apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango',
 True,
 'Adi',
 3.14,
 'Sparta',
 100]

In [ ]:
d1 = {"Apple": 50, "Mango": 100, "Guava": 200, "banana": 500}

In [ ]:
d1

{'Apple': 50, 'Mango': 100, 'Guava': 200, 'banana': 500}

In [ ]:
type(d1)

dict

In [ ]:
d1.keys()

dict_keys(['Apple', 'Mango', 'Guava', 'banana'])

In [ ]:
d1.values()

dict_values([50, 100, 200, 500])